{% extends "base.html" %}

{% block title %}Add Students{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Add New Student</h1>
    <form action="{% url 'add_student' %}" method="POST" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Student Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
            <label for="rool_no" class="form-label">Rool Number</label>
            <input type="text" class="form-control" id="rool_no" name="rool_no" required>
        </div>
        <div class="mb-3">
            <label for="student_class" class="form-label">Class</label>
            <input type="text" class="form-control" id="student_class" name="student_class" required>
        </div>
        <div class="mb-3">
            <label for="adress" class="form-label">Adress</label>
            <input type="text" class="form-control" id="adress" name="adress" required>
        </div>
       <div class="mb-3">
           <label for="dob" class="form-label">Date of Birth</label>
           <input type="date" class="form-control" id="dob" name="date_of_of_birth" required>
       </div>

        <button type="submit" class="btn btn-primary">Add Student</button>
    </form>
</div>
{% endblock %}
