{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Add New Teacher</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" name="name" class="form-control" required>
        </div>
         <div class="mb-3">
            <label class="form-label">Subject</label>
            <input type="text" name="subject" class="form-control" required>
        </div>
         <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" name="email" class="form-control" required>
        </div>
         <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="text" name="phone_no" class="form-control" required>
        </div>
         <div class="mb-3">
            <label class="form-label">Join Date </label>
            <input type="date" name="join_date" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Add Teacher</button>
        
    </form>
</div>
{% endblock %}
