{% extends "base.html" %}

{% block title %}Teacher List{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-primary">Teacher list page</h1>

    <!-- Always visible add button -->
    <a href="{% url 'add_teacher' %}" class="btn btn-success mb-3">Add New Teacher</a>
    <a href="{% url 'home' %}" class="btn btn-dark mb-3">Back</a>


    <table class="table table-bordered table-striped mt-2">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Subject</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Join Date</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.name }}</td>
                <td>{{ teacher.subject }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.phone_no }}</td>
                <td>{{ teacher.join_date }}</td>
                 <td>
                    <a href="{% url 'edit_teacher' teacher.id %}" class="btn btn-warning btn-sm">Edit</a>
                </td>
                <td>
                    <a href="{% url 'delete_teacher' teacher.id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">No Teacher found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
