{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="text-primary mb-4">All Attendance Record</h1>

    <a href="{% url 'mark_attendance'%}" class="btn btn-primary mb-3">Mark New Attendance</a>
    <a href="{% url 'home' %}" class="btn btn-primary mb-3">Back</a>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Student Name</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th> 
            </tr>
        </thead>
        <tbody>
            {% for attendance in attendances %}
            <tr>
                <td>{{ attendance.student.name }}</td>
                <td>{{ attendance.date|date:'Y-m-d' }}</td>
                <td>
                    {% if attendance.status == 'Present' %}
                        <span class="badge bg-success">Present</span>
                    {% else %}
                        <span class="badge bg-danger">Absent</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'edit_attendance' attendance.id %}" class="btn btn-sm btn-warning">Edit</a>
                    <a href="{% url 'delete_attendance' attendance.id %}" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">No Attendance Record</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
